// Specific CSS for your home-page

h1 {
  font-size: 24px;
  padding-left: 10px;
  color: white;
  font-family: Montserrat, sans-serif;
  padding-top: 10px;
}

.navbar-light .navbar-brand {
  display: flex;
}

.navbar-lewagon {
  padding-right: 80px;
  padding-left: 80px;
  display: flex;
}

.nav-link {
  color: white;
}

.avatar {
  text-decoration: none;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
