.show {
  .card {
    background-color: black;
    margin: 0;
  }

  .card-body {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .card-title {
    font-size: 3em;
    color: white;
  }

  .card-tarif {
    font-size: 23px;
  }

  .btn-flatwo {
    color: white;
    padding: 8px 24px;
    border-radius: 4px;
    background: red;
    transition: background 0.3s ease;
  }

  .btn-flatwo:hover {
    background: white;
    color: black
  }

  .form-card {
    background-color: black;
  }

  .form-profil {
    background-color: black;
  }

  #infos {
    text-decoration: underline;
  }

  .ligne {
    width: 100%;
    height: 1px;
    background-color: white;
  }
}
