<div class="banner d-flex align-items-center justify-content-center" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('<%= image_path('milky.jpg') %>')">
  <div class="container">
    <%= simple_form_for :search, url: root_path, method: :get do |f| %>
      <div class="search-form-control form-group d-flex">
        <input class="form-control string required" type="text" name="search[query]" id="search_query" />
        <div><button name="button" type="submit" class="btn btn-primary mt-0">
          <i class="fas fa-search"></i> Search
        </button>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="card-container">
  <div class="card d-flex justify-content-center">
    <header class="card-header header-img">
      <img src="https://images.unsplash.com/photo-1605276374104-dee2a0ed3cd6?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
      <p class="header-title">224,900 ziplons</p>
    </header>
    <div class="card-body"> Direction Mars </div>
    <div class="card-footer">
      <button class="btn mt-3">Plus d'infos</button>
    </div>
  </div>

  <div class="card">
    <header class="card-header header-img">
      <img src="https://images.unsplash.com/photo-1568605114967-8130f3a36994?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1170&q=80" alt="">
      <p class="header-title">299,900 ziplons</p>
    </header>
    <div class="card-body">Direction Jupiter</div>
    <div class="card-footer">
      <button class="btn mt-3">Plus d'infos</button>
    </div>
  </div>

  <div class="card">
    <header class="card-header header-img">
      <img src="https://images.unsplash.com/photo-1576941089067-2de3c901e126?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1278&q=80" alt="">
      <p class="header-title">339,000 ziplons</p>
    </header>
    <div class="card-body">Direction Neptune</div>
    <div class="card-footer">
      <button class="btn mt-3">Plus d'infos</button>
    </div>
  </div>

	<div class="card">
    <header class="card-header header-img">
      <img src="https://images.unsplash.com/photo-1584738766473-61c083514bf4?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80" alt="">
      <p class="header-title">400,000 ziplons</p>
    </header>
    <div class="card-body">Direction Saturne</div>
    <div class="card-footer">
      <button class="btn mt-3">Plus d'infos</button>
    </div>
  </div>

<h1>Ceci est une application web qui permet de partir sur Mars ok</h1>
<p>Trouve ta super soucoupe volante</p>

<h2>c'est super je commence à coder</h2>
