.card-img-profile {
  height: 250px;
  object-fit: cover;
}

.card-product {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  filter: drop-shadow(5px 10px 4px #C4C4C4);
  border-radius: 10px;
}

.card-product img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}

.card-product:hover {
  background-color: #f7f7f7;
  cursor: pointer;
}

a.card-link {
  color: black !important;
  text-decoration: none !important;
}

.card-link {
  border-radius: 20px;
  background-color: black;
  height: 200px;
  color: white;
}

.card-container-index {
  column-gap: 50px;
}
