
.container-form {
    background-color: black;
    color: white;
    width: 700px;
    padding: 30px;
    border-radius: 20px;
    margin-top: 50px;
}

.submit-btn {
  background-color: white;
  border-radius: 20px;
  cursor: pointer;
  text-align: center;
  width: 150px;
}
