// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "card";
@import "navbar";
@import "footer";
@import "form";
@import "new-card";

.ovni-price{
  text-align: right;
  margin-left: 1100px;
}

.name > a{
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
}

.fa-plus{
  color: black;
}
