// Import your components CSS files here.
@import "alert";
@import "avatar";
@import "card";
@import "navbar";
@import "footer";
@import "ovnicard";



h2{
  margin-left: 50px;
}

.ovni-price{
  text-align: right;
  margin-left: 1100px;
}

.name > a{
  color: black;
}

.fa-plus{
  color: black;
}
