 .btn-card {
    border: none;
    background-color: hsl(0, 0%, 0%);
    padding: .75em 1.5em;
    border-radius: .25em;
    transition: background-color 200ms ease;
    font-weight: 500;
    margin-right: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    color: white;
    color: rgb(218, 209, 209);
    text-decoration: none;
    margin-bottom: 5%;
  }

  .card-container {
    margin: 1rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    align-items: center;
    padding: 20px 0;
  }

  .card {
    background: white;
    box-shadow: 0 2px 5px 1px rgba(0, 0, 0, .25);
    border-radius: .50rem;
    overflow: hidden;
  }

  .card-header .header-title {
    padding: 0 var(--padding);
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    margin-top: 1rem;
    display:flex;
    justify-content: center;
  }

  .card-body {
    color: rgb(173, 173, 173);
    font-size: 1.2rem;
    padding: 0 var(--padding);
    margin-bottom: 1rem;
    display:flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
    margin-top: 1rem;
  }

  .card-footer {
    padding: var(--padding);
    padding-top: 0;
  }

  .btn:hover {
      background-color: hsl(257, 51%, 42%);
      color: white;
  }

  .card-header.header-img {
    padding: 0;
    overflow: hidden;
  }

  .card-header.header-img > img {
    display: block;
    width: 100%;
    max-height: 200px;
    aspect-ratio: 16 / 9;
    object-fit: cover;
    object-position: center;
    transition: filter 200ms ease-in-out;
  }

  .card:hover > .card-header.header-img > img {
    filter: brightness(0.9);
  }
